[Unit]
Description=XHS OCR Service
After=network.target

[Service]
Type=simple
User=callfans
WorkingDirectory=/home/callfans/data/ocr/XHS-OCR
Environment=TZ=Asia/Shanghai
ExecStart=/home/callfans/miniconda3/bin/conda run -n py312 TZ='Asia/Shanghai' nohup python xhs_ocr.py --mode schedule --at-time "22:00" >> run.log 2>&1 &
Restart=always
StandardOutput=append:/home/callfans/data/XHS-OCR/ocr/logs/run.log
StandardError=append:/home/callfans/data/XHS-OCR/ocr/logs/run.log

[Install]
WantedBy=multi-user.target